.Weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #c1c1c1;
  background-image: url("https://images.pexels.com/photos/9706838/pexels-photo-9706838.jpeg?auto=compress&cs=tinysrgb&w=1100&h=400&dpr=1?auto=compress&cs=tinysrgb&w=1100&h=400&dpr=2");
}
.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  color: #921394;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -32px;
  margin-left: 0px;
}
.Weather .InfoWeather {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
}
.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}
